{% extends 'recipe_list/base.html' %}

{% block content %}
    <!-- Page header -->
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Welcome to Recipedia!</h1><br>
                <p class="lead mb-0">This page is currently under constructions.</p> 
                <p>** Thank you for your patience. **</p><br>
                <p>Check out our <a href="/recipes">recipes</a> in the meantime</p>
            </div>
        </div>
    </header>
{% endblock %}