nav {
  background-color: #DAA520;
}

footer {
  background-color: #DAA520;
}

button.btn {
  background-color: #C25100;
  color: #FFF;
}

button.btn:hover {
  background-color: #DAA520;
  color: #FFF;
}